<template>
  <div>
    We are a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com and affiliated sites.
  </div>
</template>

<script>
export default {
  name: 'disclosure'
}
</script>

<style scoped>

</style>
