<template>
  <div>
    <ynar-dialog :title="product.name">
      <div slot="above"><slot></slot></div>
      <div id="guest-product-view" v-if="currentState === 0">
        <div class="col1">
          <img :src="product.image"/>
        </div>
        <div class="col2">
          <button class="buy" type="button" @click="currentState = 1">Buy online</button>
          <button class="buy" type="button" @click="currentState = 1">Buy in store</button>
          <requested-display class="requested" align="right" more-pad="true" :purchased="product.purchased" :total="product.qty"></requested-display>
        </div>
      </div>
      <div v-if="currentState === 1">
        <p>After purchasing, please come back and let us know so we can avoid duplicates!</p>
        <button class="buy" type="button" @click="gotoLink">I understand, take me to {{ website }}</button>
      </div>
      <div v-if="currentState === 2">
        <p>Did you complete your purchase?</p>
        <button class="buy" type="button" @click="confirmPurchase">Yep!</button>
        <button class="buy" type="button" @click="didNotPurchase">Nope!</button>
      </div>
      <div v-if="currentState === 3">
        <p>Thanks for your support!</p>
      </div>
      <div v-if="currentState === 4">
        <p>Thanks for the update!</p>
      </div>
      <div v-if="currentState === 10">
        <p>Whoops! Something went wrong. Please refresh and try again.</p>
      </div>
    </ynar-dialog>
  </div>
</template>

<script>
import YnarDialog from '../ui/Dialog'
import RequestedDisplay from '../ui/RequestedDisplay'
import parseDomain from 'parse-domain'
import api from '../../api'

export default {
  name: 'guest-product-view',
  props: ['product', 'url', 'pid'],
  components: { YnarDialog, RequestedDisplay },
  data () {
    return {
      currentState: 0,
      purchasedId: null
    }
  },
  methods: {
    gotoLink: async function () {
      window.open(this.product.url, '_blank')
      try {
        const response = await api.registries.markProductPurchased(this.url, this.pid, this.$store.state.user.username)
        this.purchasedId = response.purchasedId
        this.currentState = 2
      } catch (e) {
        this.currentState = 10
      }
    },
    confirmPurchase: async function () {
      try {
        await api.registries.markPurchaseConfirmed(this.purchasedId)
        this.currentState = 3
      } catch (e) {
        this.currentState = 10
      }
    },
    didNotPurchase: async function () {
      try {
        await api.registries.deletePurchaseRecord(this.purchasedId)
        this.currentState = 4
      } catch (e) {
        this.currentState = 10
      }
    }
  },
  computed: {
    website () {
      let parsed = parseDomain(this.product.url)
      return `${parsed.domain}.${parsed.tld}`
    }
  }
}
</script>

<style lang="scss" scoped>
#guest-product-view {
  display: flex;
  flex-direction: row;
}
.col1 {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    display: block;
    width: 70%;
  }
}
.col2 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-content: center;

  span {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}
.buy {
  background-color: white;
  padding: 10px 20px;
  font-size: 1.5rem;
  border: 2px solid #1E81FA;
  border-radius: 4px;
  color: #1E81FA;
  margin-bottom: 1rem;

  &:hover {
    color: white;
  }
}
button {
  cursor: pointer;
}
.requested {
  height: 3rem;
  border-radius: 4px;
  margin-right: .2rem;
}
</style>
