<template>
  <div id="navbar" :class="$mq">
    <div class="logo">
      <router-link to="/"><h1>YNAR</h1></router-link>
    </div>
    <div class="menu-items">
      <router-link v-if="!authenticated" to="/signin">Sign In</router-link>
      <div v-if="$mq === 'mobile'">
        <font-awesome-icon :icon="faBars" size="2x"></font-awesome-icon>
      </div>
      <div v-else>
        <a href="#" v-if="authenticated" @click="signout">{{ username }}</a>
      </div>
      <router-link v-if="isCurator" to="/curator">Curator</router-link>
    </div>
  </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import faBars from '@fortawesome/fontawesome-free-solid/faBars'

export default {
  name: 'NavBar',
  components: { FontAwesomeIcon },
  computed: {
    authenticated () {
      return this.$store.state.user.authenticated
    },
    username () {
      return this.$store.state.user.username
    },
    isCurator () {
      return this.$store.getters.isInGroup('curators')
    },
    faBars () {
      return faBars
    }
  },
  methods: {
    signout () {
      this.$store.dispatch('signout')
    }
  }
}
</script>

<style lang="scss" scoped>
h1 {
  color: white;
  font-size: 3rem;
}

a, a:visited {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

a:hover {
  text-decoration: underline;
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;

  &.tablet {
    padding: 0;
  }

  .logo {
    flex-grow: 1;
  }

  .menu-items {
    color: white;
    a + a:before {
      content: "| "
    }
  }
}

</style>
