<template>
  <div class="password-requirements">
    <span>Must contain:</span>
    <ul>
      <li :class="{met: upper}">Uppercase letters <font-awesome-icon :icon="faCheck" class="check" v-if="upper"></font-awesome-icon></li>
      <li :class="{met: lower}">Lowercase letters <font-awesome-icon :icon="faCheck" class="check" v-if="lower"></font-awesome-icon></li>
      <li :class="{met: numbers}">Numbers <font-awesome-icon :icon="faCheck" class="check" v-if="numbers"></font-awesome-icon></li>
      <li :class="{met: passLength}">8 characters <font-awesome-icon :icon="faCheck" class="check" v-if="passLength"></font-awesome-icon></li>
    </ul>
  </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import faCheck from '@fortawesome/fontawesome-free-solid/faCheck'

export default {
  name: 'password-requirements',
  props: ['password'],
  components: { FontAwesomeIcon },
  computed: {
    faCheck () {
      return faCheck
    },
    upper () {
      return this.password.match(/.*[A-Z].*/) !== null
    },
    lower () {
      return this.password.match(/.*[a-z].*/) !== null
    },
    numbers () {
      return this.password.match(/.*\d.*/) !== null
    },
    passLength () {
      return this.password.length >= 8
    }
  }
}
</script>

<style lang="scss" scoped>
ul {
  list-style: none;
  padding-left: 5px;
}
li {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.met {
  color: #47b972;
}
</style>
