<template>
  <a class="product-tile" :class="{small}" @click="gotoLink">
    <img :src="product.image"/>
    <span v-html="name"></span>
    <div v-if="!isDisplay" class="delete" @click.stop="removeProduct">
      <font-awesome-icon :icon="faTimes" size="3x"></font-awesome-icon>
    </div>
    <div class="price">{{ product.price }} {{ product.currency }}</div>
    <div v-if="!isDisplay">
      <label>Requesting:</label>
      <quantity-selector v-model="product.qty" align="center"></quantity-selector>
    </div>
    <div v-else-if="product.qty">
      <requested-display class="requested" :purchased="product.purchased" :total="product.qty" :align="small ? 'right' : ''"></requested-display>
    </div>
    <div class="overlay-buttons" :class="{'enabled': overlayButtons}" v-if="overlayButtons">
      <div class="overlay"></div>
      <div class="buttons">
        <slot name="overlay-buttons"></slot>
      </div>
    </div>
    <loading-overlay v-if="syncing"></loading-overlay>
  </a>
</template>

<script>
import api from '../../api'
import LoadingOverlay from '../ui/LoadingOverlay'
import QuantitySelector from '../ui/QuantitySelector'
import RequestedDisplay from '../ui/RequestedDisplay'
import _ from 'underscore'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import faTimes from '@fortawesome/fontawesome-free-solid/faTimes'
import sanitizeHtml from 'sanitize-html'

export default {
  name: 'product-tile',
  props: ['product', 'pid', 'registry-url', 'display', 'overlay-buttons', 'small'],
  components: { LoadingOverlay, QuantitySelector, FontAwesomeIcon, RequestedDisplay },
  data () {
    return {
      syncing: false
    }
  },
  computed: {
    isDisplay () {
      return this.display || false
    },
    faTimes () {
      return faTimes
    },
    name () {
      return sanitizeHtml(this.product.name)
    }
  },
  methods: {
    gotoLink () {
      if (this.isDisplay) {
        this.$emit('click', this.pid)
      } else {
        window.open(this.product.url, '_blank')
      }
    },
    removeProduct: async function () {
      this.syncing = true
      try {
        await api.registries.deleteProduct(this.registryUrl, this.pid)
        this.$emit('deleted', this.pid)
      } catch (e) {
        alert('Could not delete product, please refresh and try again.')
        this.syncing = false
      }
    }
  },
  watch: {
    'product.qty': _.debounce(async function (newQty) {
      try {
        await api.registries.updateProductQty(this.registryUrl, this.pid, newQty)
      } catch (e) {
        alert('Could not update quantity, please refresh and try again.')
      }
    }, 500)
  }
}
</script>

<style lang="scss" scoped>
.product-tile {
  position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  width: 15rem;
  padding: 5px;
  text-align: center;
  margin: 10px;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;

  &.small {
    width: 10rem;
    margin: 5px;

    img {
      width: 6rem;
    }
  }

  &:hover {
    -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);

    .delete {
      opacity: 1;
    }
  }

  .requested {
    margin: 0 -5px -5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 1rem;
  }

  .overlay-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .1s ease-in;

    &.enabled:hover {
      opacity: 1;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.8;
    }

    .buttons {
      position: absolute;
      top: 10%;
      left: 0;
      width: 100%;
      height: 80%;

      div {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
      }
    }

    button {
      border: none;
      background-color: transparent;
      color: white;
      font-size: 1.5rem;
      flex-grow: 1;
      align-content: center;
      width: 100%;

      &:hover {
        color: #55aafa;
        cursor: pointer;
      }
    }
  }

  .price {
    margin-top: 1rem;
    font-weight: bold;
  }

  label, .requesting {
    display: block;
    margin-top: 1rem;
  }

  img {
    width: 10rem;
    display: block;
    margin: 0 auto 1rem;
  }

  .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      color: #e6112c;
    }
  }
}
</style>
