<template>
  <div id="registry-edit-name">
    <ynar-dialog title="Edit Registry Name">
      <div slot="above"><slot></slot></div>
      <form @submit="save">
        <label for="name">Name</label>
        <input id="name" type="text" v-model="name"/>
        <label for="description">Description</label>
        <textarea id="description" v-model="description"></textarea>
        <button>Save</button>
        <button class="cancel" type="button" @click="cancel">Cancel</button>
      </form>

      <loading-overlay v-if="loading"></loading-overlay>
    </ynar-dialog>
  </div>
</template>

<script>
import api from '../../api'
import YnarDialog from '../ui/Dialog'
import LoadingOverlay from '../ui/LoadingOverlay'

export default {
  name: 'registry-edit-name',
  components: { YnarDialog, LoadingOverlay },
  props: ['registry'],
  data () {
    return {
      name: this.registry.name,
      description: this.registry.description,
      loading: false
    }
  },
  methods: {
    save: async function () {
      try {
        this.loading = true
        await api.registries.updateName(this.registry.url, this.name, this.description)
        this.$emit('finished')
      } catch (e) {
        alert('Failed to update name and description. Please refresh and try again.')
      }
    },
    cancel: function () {
      this.$emit('finished')
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
