<template>
  <div id="registry-add-products">
    <ynar-dialog title="Add Product">
      <div slot="above"><slot></slot></div>

      <div class="add-options" v-if="currentState === addState.CHOOSE">
        <icon-button @click="currentState = addState.URL" :icon="faCode" theme="dark">From URL</icon-button>
        <icon-button :icon="faGift" theme="dark">Recommendations</icon-button>
      </div>

      <div v-if="currentState === addState.URL" class="from-url">
        <form @submit.prevent="importURL">
          <label for="url">URL</label>
          <input id="url" v-model="urlImport.url"/>
          <button>Import</button>
        </form>
      </div>

      <div v-if="currentState === addState.IMPORT" class="import">
        <form @submit.prevent="addProduct">
          <label for="url-import">URL</label>
          <input id="url-import" v-model="urlImport.url" readonly/>
          <img :src="urlImport.image"/>
          <label for="name">Name</label>
          <input id="name" v-model="urlImport.name"/>
          <label for="description">Description</label>
          <textarea id="description" v-model="urlImport.description"></textarea>
          <label>Price</label>
          <div>
            <span>{{ urlImport.price }} {{ urlImport.currency }}</span>
          </div><br>
          <label for="qty">Quantity Requested</label>
          <quantity-selector v-model="urlImport.qty"></quantity-selector>
          <button>Add to Registry</button>
          <button class="cancel" type="button" @click="clearImport">Cancel</button>
        </form>
      </div>

      <div v-if="currentState === addState.ADDED" class="import added">
        <h3>Product Added!</h3>
        <img :src="urlImport.image"/>
        <span v-html="urlImport.name"></span>
        <button @click="addAnother">Add Another</button>
      </div>

      <loading-overlay v-if="loading"></loading-overlay>
    </ynar-dialog>
  </div>
</template>

<script>
import api from '../../api'
import YnarDialog from '../ui/Dialog'
import IconButton from '../ui/IconButton'
import LoadingOverlay from '../ui/LoadingOverlay'
import QuantitySelector from '../ui/QuantitySelector'
import faCode from '@fortawesome/fontawesome-free-solid/faCode'
import faGift from '@fortawesome/fontawesome-free-solid/faGift'

const addState = {
  CHOOSE: 0,
  URL: 1,
  RECOMMENDATION: 2,
  IMPORT: 3,
  ADDED: 4
}

export default {
  name: 'registry-add-products',
  components: {YnarDialog, IconButton, LoadingOverlay, QuantitySelector},
  data () {
    return {
      addState,
      currentState: addState.CHOOSE,
      urlImport: {
        url: '',
        name: '',
        description: '',
        image: '',
        qty: 1,
        price: '',
        currency: '',
        noPrice: false
      },
      loading: false
    }
  },
  computed: {
    faCode () {
      return faCode
    },
    faGift () {
      return faGift
    }
  },
  methods: {
    importURL: async function () {
      this.loading = true
      const regex = new RegExp('^.*amazon.com.*/(product|dp)/([^/]*)', 'g')
      const match = regex.exec(this.urlImport.url)
      // is amazon product?
      if (match !== null) {
        const loadedItem = await api.products.lookupAmazon(match[2])
        console.log(loadedItem[0])
        this.urlImport.name = loadedItem[0].ItemAttributes[0].Title[0]
        this.urlImport.description = loadedItem[0].ItemAttributes[0].Feature[0]
        this.urlImport.image = loadedItem[0].MediumImage[0].URL[0]
        this.urlImport.url = loadedItem[0].DetailPageURL[0]
        try {
          this.urlImport.price = loadedItem[0].OfferSummary[0].LowestNewPrice[0].FormattedPrice[0].replace(/\$/g, '')
          this.urlImport.currency = loadedItem[0].OfferSummary[0].LowestNewPrice[0].CurrencyCode[0]
          this.urlImport.noPrice = false
        } catch (e) {
          this.urlImport.noPrice = true
        }
        this.currentState = addState.IMPORT
        this.loading = false
        return
      }

      const prod = await api.products.lookup(this.urlImport.url)
      console.log(prod)
      this.urlImport.name = prod[0].name
      this.urlImport.description = prod[0].description
      this.urlImport.image = prod[0].image
      this.urlImport.price = prod[0].offers.price
      this.urlImport.currency = prod[0].offers.priceCurrency
      this.currentState = addState.IMPORT
      this.loading = false
    },
    addProduct: async function () {
      this.loading = true
      await api.registries.addProduct(this.$route.params.id, this.urlImport)
      this.currentState = addState.ADDED
      this.loading = false
    },
    clearImport: function () {
      this.urlImport.url = ''
      this.urlImport.name = ''
      this.urlImport.description = ''
      this.urlImport.image = ''
      this.urlImport.price = ''
      this.urlImport.currency = ''
      this.urlImport.noPrice = false
      this.currentState = addState.URL
    },
    addAnother: function () {
      this.currentState = addState.URL
      this.clearImport()
    }
  }
}
</script>

<style lang="scss" scoped>
.add-options {
  text-align: center;
}

.import {
  img {
    display: block;
    margin-bottom: 1.5rem;
    width: 100px;
  }

  &.added {
    span {
      display: block;
    }
    button{
      margin-top: 1rem;
    }
  }
}
</style>
