<template>
 <div id="product-added">
   <ynar-dialog title="Product Added">
     <h3>{{ name }}</h3>
     <img :src="image"/>
     <router-link tag="button" to="/curator/new">Add Another Product</router-link>
   </ynar-dialog>
 </div>
</template>

<script>
import YnarDialog from '../ui/Dialog'
import api from '../../api/index'

export default {
  name: 'curator-product-added',
  components: {YnarDialog},
  data () {
    return {
      name: '',
      image: ''
    }
  },
  mounted: async function () {
    await api.user.checkLogin()
    const result = await api.products.get(this.$route.params.id)
    this.name = result.name
    this.image = result.image
  }
}
</script>

<style lang="scss" scoped>
img {
  display: block;
  height: 8rem;
  margin-bottom: 1rem;
}
</style>
