<template>
  <div id="curator-dashboard">
    <router-link to="curator/new" class="curator-button">
      <div class="curator-button-layout">
        <font-awesome-icon :icon="faPlusSquare" class="curator-button-icon" size="4x"></font-awesome-icon>
        New Product
      </div>
    </router-link>
    <router-link to="curator/new" class="curator-button">
      <div class="curator-button-layout">
        <font-awesome-icon :icon="faEdit" class="curator-button-icon" size="4x"></font-awesome-icon>
        Edit Product
      </div>
    </router-link>
  </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import faPlusSquare from '@fortawesome/fontawesome-free-solid/faPlusSquare'
import faEdit from '@fortawesome/fontawesome-free-solid/faEdit'

export default {
  name: 'curator-dashboard',
  components: { FontAwesomeIcon },
  computed: {
    faEdit () {
      return faEdit
    },
    faPlusSquare () {
      return faPlusSquare
    }
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
#curator-dashboard {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.curator-button {
  margin: 0 1rem;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border: 2px solid white;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: white;

  &:hover {
    color: #3a3a3a;
    border: 2px solid #3a3a3a;
  }

  .curator-button-layout {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .curator-button-icon {
    margin-bottom: 0.3rem;
  }
}
</style>
