<template>
  <div id="curator-new-product">
    <ynar-dialog title="New Product">
      <form @submit.prevent="createProduct">
        <label for="item-id">Item ID</label>
        <input id="item-id" type="text" v-model="itemId"/>
        <div v-if="loadedItem !== null">
          <img :src="image" class="item-image"/>
          <label for="item-name">Name</label>
          <input id="item-name" type="text" v-model="name"/>
          <label for="item-description">Description</label>
          <textarea id="item-description" v-model="description"></textarea>
          <label>Occasions</label>
          <ul>
            <li class="occasion" v-for="(value, key) in occasions" :key="key">
              <label :for="'occasion-' + key">{{ value }}</label>
              <input type="checkbox" :id="'occasion-' + key" v-model="occasionSelected[key]"/>
            </li>
          </ul>
          <button type="submit">Create Product</button>
        </div>
      </form>
    </ynar-dialog>
  </div>
</template>

<script>
import YnarDialog from '../ui/Dialog'
import _ from 'underscore'
import api from '../../api/index'

export default {
  name: 'curator-new-product',
  components: { YnarDialog },
  data () {
    return {
      itemId: '',
      name: '',
      image: '',
      description: '',
      link: '',
      occasions: {
        'wedding': 'Wedding',
        'birthday': 'Birthday',
        'baby': 'Baby Shower'
      },
      occasionSelected: {
        'wedding': false,
        'birthday': false,
        'baby': false
      },
      loadedItem: null
    }
  },
  watch: {
    itemId (newId) {
      const regex = new RegExp('^.*/(product|dp)/([^/]*)', 'g')
      const match = regex.exec(newId)
      if (match !== null) {
        this.itemId = match[2]
      }
      this.loadItem()
    }
  },
  methods: {
    loadItem: _.debounce(async function () {
      this.loadedItem = await api.products.lookupAmazon(this.itemId)
      this.name = this.loadedItem[0].ItemAttributes[0].Title[0]
      this.description = this.loadedItem[0].ItemAttributes[0].Feature[0]
      this.image = this.loadedItem[0].MediumImage[0].URL[0]
      this.link = this.loadedItem[0].DetailPageURL[0]
    }, 500),
    createProduct: async function () {
      const occObj = this.occasionSelected
      const occasionList = Object.keys(occObj).filter(key => {
        return occObj[key]
      }).join(',')
      try {
        const product = await api.user.curator.createProduct({
          link: this.link,
          name: this.name,
          image: this.image,
          description: this.description,
          occasions: occasionList
        })
        console.log(product)
        this.$router.push(`/curator/added/${product.productId}`)
      } catch (e) {
        console.log(e)
        alert('There was an error adding this product.')
      }
    }
  }
}
</script>

<style scoped>
.item-image {
  display: block;
  height: 8rem;
  margin-bottom: 1rem;
}
</style>
