<template>
  <div id="home">
    <div v-if="authenticated">
      <div class="header">
        <h1>Account Overview</h1>
      </div>

      <h2>Recently Viewed Registries</h2>
      <hr>
      <ul>
        <li v-for="(value, key) in history" :key="key">
          <router-link :to="`/${key}`">{{ value }}</router-link>
        </li>
      </ul>

      <h2>My Registries</h2>
      <hr>
      <router-link to="registry/create">Create a registry</router-link>

    </div>
    <div v-else>
      <p>Do you need a registry?</p>
    </div>
  </div>
</template>

<script>
import api from '../../api'

export default {
  name: 'home',
  data () {
    return {
      history: {}
    }
  },
  computed: {
    authenticated () {
      return this.$store.state.user.authenticated
    }
  },
  mounted: async function () {
    if (this.authenticated) {
      this.history = (await api.registries.getHistory()).item.registries
    }
  }
}
</script>

<style lang="scss" scoped>
#home {
  padding: 10px;
  color: white;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;

  &:hover {
    text-decoration: underline;
  }
}
.header {
  background-color: white;
  border-radius: 4px;
}
h1 {
  margin-top: 0;
  color: black;
  padding: 10px;
}
h2 {
  margin-top: 2rem;
  color: white;
}
hr {
  border: none;
  height: 1px;
  color: white;
  background-color: white;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
li {
  margin-top: 1rem;
}
</style>
