<template>
  <div id="registry-view">
    <div v-if="registry.live">
      <modal v-model="modalOpen" :title="modalTitle">
        <div v-if="modalState === 0">
          <p>Did you buy this product?</p>
          <button class="buy" type="button" @click="confirmPurchaseRecord(modalDelete)">Yep!</button>
          <button class="buy" type="button" @click="modalState = 1">Nope!</button>
        </div>
        <div v-else>
          <p>If you choose "I did not purchase this product", this product will once again show that it is available to gift for others. Only choose this option if you really did not purchase this product!</p>
          <button class="buy" type="button" @click="deletePurchaseRecord(modalDelete)">I did not purchase this product</button>
          <button class="buy cancel" type="button" @click="confirmPurchaseRecord(modalDelete)">Cancel</button>
        </div>
      </modal>
      <guest-product-view v-if="selectedProduct" :product="selectedProduct" :url="registryUrl" :pid="selectedPid">
        <link-button @click="backToProducts">Back to products</link-button>
      </guest-product-view>
      <div class="registry-view" v-else>
        <loading-overlay v-if="!loaded" overlay="false"></loading-overlay>
        <div v-if="loaded">
          <div class="details">
            <h2>{{ registry.name }}</h2>
            <span class="description">{{ registry.description }}</span>
          </div>
          <div class="purchased" :class="$mq" v-if="confirmedPurchased.length">
            <h2>You bought this</h2>
            <ul class="grid">
              <li v-for="value in confirmedPurchased" :key="value.pid">
                <product-tile :product="value.product"
                              :pid="value.pid"
                              :registry-url="value.registryUrl"
                              :small="$mq === 'mobile'"
                              display="true"
                              @click="selectPurchaseRecord(value)"
                              :overlay-buttons="!$fd.touch">
                  <div slot="overlay-buttons">
                    <button type="button" @click="showRecordModal(value, true)">I did not buy this</button>
                  </div>
                </product-tile>
              </li>
            </ul>
          </div>
          <div class="purchased" :class="$mq" v-if="tentativePurchased.length">
            <h2>Did you buy this?</h2>
            <ul class="grid">
              <li v-for="value in tentativePurchased" :key="value.pid">
                <product-tile :product="value.product"
                              :pid="value.pid"
                              :registry-url="value.registryUrl"
                              :small="$mq === 'mobile'"
                              display="true"
                              @click="selectPurchaseRecord(value)"
                              :overlay-buttons="!$fd.touch">
                  <div slot="overlay-buttons">
                    <button type="button" @click="confirmPurchaseRecord(value.purchasedId)">Yep!</button>
                    <button type="button" @click="showRecordModal(value, true)">Nope!</button>
                  </div>
                </product-tile>
              </li>
            </ul>
          </div>
          <ul class="grid">
            <li v-for="(value, key) in registry.products" :key="key">
              <product-tile :product="value"
                            :pid="key"
                            :registry-url="registryUrl"
                            :small="$mq === 'mobile'"
                            display="true"
                            @click="selectProduct">
              </product-tile>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div v-else class="details">
      <h2>{{ registry.name }} isn't ready just yet. Please check back soon!</h2>
    </div>
  </div>
</template>

<script>
import api from '../../api'
import ProductTile from '../shared/ProductTile'
import GuestProductView from '../shared/GuestProductView'
import LinkButton from '../ui/LinkButton'
import LoadingOverlay from '../ui/LoadingOverlay'
import Modal from '../ui/Modal'

export default {
  name: 'registry-view',
  components: { ProductTile, GuestProductView, LinkButton, LoadingOverlay, Modal },
  data () {
    return {
      registry: {
        products: {},
        live: true
      },
      selectedProduct: null,
      selectedPid: null,
      purchasedProducts: null,
      loaded: false,
      modalOpen: false,
      modalTitle: '',
      modalDelete: null,
      modalState: 0,
      modalShouldConfirm: false
    }
  },
  computed: {
    registryUrl () {
      return this.$route.params.id
    },
    confirmedPurchased () {
      return this.purchasedProducts.filter(p => !p.tentative)
    },
    tentativePurchased () {
      return this.purchasedProducts.filter(p => p.tentative)
    }
  },
  mounted: async function () {
    await this.refresh()
    await api.registries.addToHistory(this.registryUrl, this.registry.name)
  },
  methods: {
    selectPurchaseRecord (record, confirmDelete = false) {
      if (!this.$fd.touch) return
      this.showRecordModal(record, confirmDelete)
    },
    showRecordModal (record, confirmDelete) {
      this.modalOpen = true
      this.modalTitle = record.product.name
      this.modalDelete = record.purchasedId
      this.modalShouldConfirm = record.tentative
      this.modalState = confirmDelete ? 1 : 0
    },
    refresh: async function () {
      this.loaded = false
      this.registry = await api.registries.get(this.registryUrl)
      if (!this.registry.hasOwnProperty('live')) this.registry.live = true
      this.purchasedProducts = (await api.registries.getPurchasedProducts(this.$store.state.user.username, this.registryUrl)).records
      this.loaded = true
    },
    selectProduct (pid) {
      this.selectedProduct = this.registry.products[pid]
      this.selectedPid = pid
    },
    backToProducts () {
      this.selectedProduct = null
      this.selectedPid = null
      this.refresh()
    },
    deletePurchaseRecord: async function (purchasedId) {
      await api.registries.deletePurchaseRecord(purchasedId)
      this.modalOpen = false
      this.modalDelete = null
      this.refresh()
    },
    confirmPurchaseRecord: async function (purchasedId) {
      if (this.modalOpen) {
        if (!this.modalShouldConfirm) {
          this.modalOpen = false
          return
        }
      }
      await api.registries.markPurchaseConfirmed(purchasedId)
      this.modalOpen = false
      this.modalDelete = null
      this.refresh()
    }
  }
}
</script>

<style lang="scss" scoped>
.registry-view {
  position: relative;
  min-height: 300px;
  width: 100%;
}

.details {
  padding: 10px;
}

h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: .2rem;

}

.description {
  color: white;
  font-size: 1.5rem;
}

.purchased {
  background-color: #1b54a7;
  margin: 2rem 0;

  h2 {
    margin-top: 0;
  }

  &.mobile {
    padding: 1px 0;
    h2 {
      margin-left: 10px;
      margin-top: 0;
    }
  }
  &.tablet {
    border-radius: 4px;
    padding: 1px 10px;
    ul {
      justify-content: left;
    }
  }
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
}

li {
  display: inline-block;
}
</style>
