<template>
  <div id="register">
    <ynar-dialog title="Create an account">
      <form v-on:submit.prevent="attemptRegister">
        <label for="email">Email</label>
        <input id="email" type="text" v-model="user"/>
        <label for="password">Password</label>
        <input id="password" type="password" v-model="password"/>
        <password-requirements :password="password"></password-requirements>
        <label for="name">Name</label>
        <input id="name" type="text" v-model="name"/>
        <button type="submit">Create Account</button>
      </form>
    </ynar-dialog>
  </div>
</template>

<script>
import YnarDialog from '../ui/Dialog'
import PasswordRequirements from '../shared/PasswordRequirements'

export default {
  name: 'Register',
  components: { YnarDialog, PasswordRequirements },
  data: function () {
    return {
      user: '',
      password: '',
      name: ''
    }
  },
  methods: {
    attemptRegister: async function () {
      try {
        await this.$store.dispatch('signup', {
          user: this.user,
          password: this.password,
          name: this.name
        })
        this.$router.push('verify')
      } catch (e) {
        alert('Could not register user!')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
h2 {
  margin: .2rem;
  font-size: 2rem;
}

hr {
  margin-bottom: 1rem;
}

button {
  color: white;
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: 4px;
  border: none;
  margin-right: .2rem;
  cursor: pointer;
  background-color: #41d196;

  &:hover {
    background-color: #44f4b7;
  }
}

input {
  display: block;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid black;
  padding: .4rem;
  min-width: 400px;
  margin-bottom: 1.5rem;
}

#password {
  margin-bottom: .5rem;
}
</style>
