<template>
  <div id="registry-create">
    <ynar-dialog title="Create Registry">
      <form @submit.prevent="create">
        <label for="name">Registry Name</label>
        <input id="name" type="text" v-model="name"/>
        <label for="description">Description</label>
        <textarea id="description" v-model="description"></textarea>
        <label for="url">Registry URL</label>
        <div class="url-input">
          <span class="url-prefix">youneedaregistry.com/</span>
          <input type="text" id="url" v-model="url"/>
          <div v-if="urlChecked">
            <font-awesome-icon v-if="!urlAvailable" class="url-status bad" :icon="faTimes" size="2x"></font-awesome-icon>
            <font-awesome-icon v-if="urlAvailable" class="url-status good" :icon="faCheck" size="2x"></font-awesome-icon>
          </div>
        </div>
        <button type="submit">Create</button>
      </form>
    </ynar-dialog>
  </div>
</template>

<script>
import YnarDialog from '../ui/Dialog'
import api from '../../api/index'
import _ from 'underscore'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import faTimes from '@fortawesome/fontawesome-free-solid/faTimes'
import faCheck from '@fortawesome/fontawesome-free-solid/faCheck'

export default {
  name: 'registry-create',
  components: {YnarDialog, FontAwesomeIcon},
  data () {
    return {
      name: '',
      description: '',
      url: '',
      urlAvailable: false,
      urlChecked: false
    }
  },
  computed: {
    faTimes () {
      return faTimes
    },
    faCheck () {
      return faCheck
    }
  },
  methods: {
    create: async function () {
      await api.registries.create(this.name, this.description, this.url)
    }
  },
  watch: {
    url: _.debounce(async function (newURL) {
      const status = await api.registries.testURL(newURL)
      this.urlChecked = true
      this.urlAvailable = status.available
    }, 500)
  }
}
</script>

<style lang="scss" scoped>
#url {
  display: inline-block;
  min-width: 200px;
}

.url-status {
  margin-left: 10px;
  color: #23f44d;

  &.bad {
    color: #f4373f;
  }
}

.url-input {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  input {
    margin: 0;
  }
}
</style>
