<template>
  <div id="registry-edit">
    <div v-if="loaded">
      <h2 class="edittable">{{ registry.name }}
        <button class="edit-name" type="submit" @click="editingName = true">
          <font-awesome-icon :icon="faPencil"></font-awesome-icon>
        </button>
      </h2>
      <span class="description edittable">{{ registry.description }}
        <button class="edit-name" type="submit" @click="editingName = true">
          <font-awesome-icon :icon="faPencil"></font-awesome-icon>
        </button>
      </span>

      <add-products v-if="addingProducts">
        <link-button @click="backToProducts">Back to products</link-button>
      </add-products>

      <edit-name v-if="editingName" :registry="registry" @finished="backToProducts">
        <link-button @click="backToProducts">Back to products</link-button>
      </edit-name>

      <div v-if="!addingProducts && !editingName" class="product-grid">
        <link-button @click="addingProducts = true">Add Products</link-button>

        <div class="filter">
          <form>
            <label for="filter">Filter</label>
            <input type="text" id="filter"/>
          </form>
        </div>

        <div v-if="noProducts" class="no-products" @click="addingProducts = true">
          <div>You haven't added any products yet.</div>
          <div>Click here to start!</div>
        </div>

        <ul class="grid">
          <li v-for="(value, key) in registry.products" :key="key">
            <product-tile :product="value"
                          :pid="key"
                          :registry-url="registryUrl"
                          @deleted="productDeleted">
            </product-tile>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import api from '../../api/index'
import AddProducts from '../shared/RegistryAddProducts'
import EditName from '../shared/RegistryEditName'
import LinkButton from '../ui/LinkButton'
import ProductTile from '../shared/ProductTile'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import faPencil from '@fortawesome/fontawesome-free-solid/faPencilAlt'

export default {
  name: 'registry-edit',
  components: {AddProducts, EditName, LinkButton, ProductTile, FontAwesomeIcon},
  data () {
    return {
      registry: {
        products: {}
      },
      addingProducts: false,
      editingName: false,
      loaded: false
    }
  },
  mounted: async function () {
    this.refresh()
    this.loaded = true
  },
  computed: {
    noProducts () {
      return Object.keys(this.registry.products).length === 0
    },
    registryUrl () {
      return this.$route.params.id
    },
    faPencil () {
      return faPencil
    }
  },
  methods: {
    refresh: async function () {
      this.registry = await api.registries.get(this.registryUrl)
    },
    backToProducts: async function () {
      await this.refresh()
      this.addingProducts = false
      this.editingName = false
    },
    productDeleted: function (pid) {
      this.$delete(this.registry.products, pid)
    }
  }
}
</script>

<style lang="scss" scoped>
h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: .2rem;

}

.edittable {
  &:hover {
    .edit-name {
      display: inline-block;
    }
  }
}

.edit-name {
  display: none;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.description {
  color: white;
  font-size: 1.5rem;
}

.product-grid {
  margin: 20px auto;
}

.no-products {
  margin-top: 2rem;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.filter {
  background-color: #0044cb;
  padding: 10px;
  border-radius: 4px;
  color: white;

  form {
    display: flex;
    align-items: center;
  }

  label {
    flex: 0 1 auto;
  }

  input {
    border-radius: 4px;
    border: none;
    flex: 1 0 auto;
    margin-left: 20px;
    height: 35px;
    font-size: 1rem;
    padding: 0 5px;
    background-color: #1e81fa;
    color: white;
  }
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
}

li {
  display: inline-block;
}
</style>
