<template>
  <div id="signin">
    <span v-if="toContinue" class="to-continue">{{ toContinue }}</span>
    <ynar-dialog title="Sign In">
      <form v-on:submit.prevent="attemptSignIn">
        <label for="email">Email / Phonenumber</label>
        <input id="email" type="text" v-model="user"/>
        <label for="password">Password</label>
        <input id="password" type="password" v-model="password"/>
        <button type="submit">Sign In</button>
        <router-link type="button" class="register" tag="button" to="register">Create Account</router-link>
      </form>
    </ynar-dialog>
  </div>
</template>

<script>
import api from '../../api'
import YnarDialog from '../ui/Dialog'

export default {
  name: 'SignIn',
  components: {YnarDialog},
  data: function () {
    return {
      user: '',
      password: '',
      toContinue: null
    }
  },
  methods: {
    attemptSignIn: async function () {
      try {
        await this.$store.dispatch('authenticate', {
          user: this.user,
          password: this.password
        })
        if (await this.$store.dispatch('checkDestination')) return
        this.$router.push('/')
      } catch (e) {
        alert('Invalid username or password!')
      }
    }
  },
  mounted: async function () {
    this.user = this.$store.state.newUser || ''
    if (this.$store.state.destination.type === 'registry') {
      let registry = await api.registries.get(this.$store.state.destination.id)
      this.toContinue = `Sign in or create an account to view ${registry.name}!`
    }
  }
}
</script>

<style lang="scss" scoped>
h2 {
  margin: .2rem;
  font-size: 2rem;
}

hr {
  margin-bottom: 1rem;
}

.to-continue {
  color: white;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.5rem;
}

button {
  background-color: rgb(0%, 51.3%, 100%);
  color: white;
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: 4px;
  border: none;
  margin-right: .2rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(85, 170, 250);
  }

  &.register {
    background-color: #41d196;

    &:hover {
      background-color: #44f4b7;
    }
  }
}

input {
  display: block;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid black;
  padding: .4rem;
  min-width: 400px;
  margin-bottom: 1.5rem;
}
</style>
