<template>
  <div id="verify">
    <span v-if="toContinue" class="to-continue">{{ toContinue }}</span>
    <ynar-dialog title="Verify Account">
      <form v-on:submit.prevent="attemptVerification" v-if="code">
        <p v-if="userKnown">Email: {{ userKnown }}</p>
        <div v-if="!userKnown">
          <label for="email">Email</label>
          <input id="email" type="text" v-model="user"/>
        </div>
        <label for="password">Password</label>
        <input id="password" type="password" v-model="password"/>
        <button type="submit">Sign In and Verify Account</button>
      </form>
      <div v-if="userKnown && !code">
        <p>Confirmation email was sent to {{ userKnown }}.</p>
      </div>
    </ynar-dialog>
  </div>
</template>

<script>
import api from '../../api'
import YnarDialog from '../ui/Dialog'

export default {
  name: 'Verify',
  components: { YnarDialog },
  data: function () {
    return {
      user: '',
      password: '',
      toContinue: ''
    }
  },
  methods: {
    attemptVerification: async function () {
      try {
        await this.$store.dispatch('verify', {
          user: this.userKnown || this.user,
          password: this.password,
          code: this.code
        })
        if (await this.$store.dispatch('checkDestination')) return
        this.$router.push('/')
      } catch (e) {
        console.log(e)
        alert('Invalid verification code!')
      }
    }
  },
  computed: {
    userKnown () {
      return this.$store.state.user.newUser || null
    },
    code () {
      return this.$route.params.code || null
    }
  },
  mounted: async function () {
    if (this.$store.state.destination.type === 'registry') {
      let registry = await api.registries.get(this.$store.state.destination.id)
      this.toContinue = `You will be redirected to ${registry.name} after verifying your account.`
    }
  }
}
</script>

<style lang="scss" scoped>
.to-continue {
  color: white;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.5rem;
}
</style>
