<template>
  <div id="app" :class="$mq">
    <nav-bar></nav-bar>
    <router-view/>
  </div>
</template>

<script>
import NavBar from './components/shared/NavBar'

export default {
  name: 'App',
  components: {
    NavBar
  }
}
</script>

<style lang="scss">
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0%, 51.3%, 100%);
  margin: 0;
}

#app {
  width: 100%;

  &.tablet {
    width: 70%;
    margin: 0 auto;
  }
}
</style>
