<template>
  <div class="dialog-wrapper" :class="$mq" @click.stop>
    <div class="dialog-top">
      <slot name="above"></slot>
    </div>
    <div class="dialog" :class="$mq">
      <h2 v-html="safeTitle"></h2>
      <hr>
      <slot>
        Dialog content here
      </slot>
    </div>
  </div>
</template>

<script>
import sanitizeHtml from 'sanitize-html'

export default {
  name: 'ynar-dialog',
  props: ['title'],
  computed: {
    safeTitle () {
      return sanitizeHtml(this.title)
    }
  }
}
</script>

<style lang="scss" scoped>
h2 {
  margin: .2rem;
  font-size: 2rem;
}

.dialog-wrapper {
  margin: 20px 0;
  width: 100%;

  &.tablet {
    margin: 40px auto;
    width: 500px;
  }
}

.dialog {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0;
  &.tablet {
    border-radius: 4px;
  }
  padding: 1rem;
}

hr {
  margin-bottom: 1rem;
}

.quantity-selector {
  margin-bottom: 1.5rem;
}

input, textarea {
  display: block;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid black;
  box-sizing: border-box;
  padding: .4rem;
  width: 100%;
  min-width: 50px;
  &.tablet {
    min-width: 400px;
  }
  margin-bottom: 1.5rem;
}

input[type="checkbox"] {
  display: inline-block;
  margin-bottom: 0.2rem;
}

button {
  background-color: rgb(0%, 51.3%, 100%);
  color: white;
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: 4px;
  border: none;
  margin-right: .2rem;
  margin-bottom: .2rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(85, 170, 250);
  }

  &.register {
    background-color: #41d196;

    &:hover {
      background-color: #44f4b7;
    }
  }

  &.cancel {
    background-color: #e62d54;

    &:hover {
      background-color: #e67588;
    }
  }
}
</style>
