<template>
  <button @click="click" :class="'icon-button ' + (theme || 'light')">
    <div class="icon-button-layout">
      <font-awesome-icon :icon="icon" class="icon-button-icon" size="4x"></font-awesome-icon>
      <slot></slot>
    </div>
  </button>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

export default {
  name: 'icon-button',
  props: ['icon', 'theme'],
  components: { FontAwesomeIcon },
  methods: {
    click () {
      this.$emit('click')
    }
  }
}
</script>

<style lang="scss" scoped>
.icon-button {
  margin: 0 1rem;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border: 2px solid white;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  background-color: white;

  &.dark {
    color: #3a3a3a;
    border: 2px solid #3a3a3a;
  }

  &:hover {
    background-color: white;
    color: #3a3a3a;
    border: 2px solid #3a3a3a;

    &.dark {
      color: #1e81fa;
      border: 2px solid #1e81fa;
    }
  }

  .icon-button-layout {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .icon-button-icon {
    margin-bottom: 0.3rem;
  }
}
</style>
