<template>
  <button @click="click" type="button" class="link-button">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'link-button',
  methods: {
    click () {
      this.$emit('click')
    }
  }
}
</script>

<style lang="scss" scoped>
button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
</style>
