<template>
  <div class="loading-overlay" @click.stop>
    <font-awesome-icon class="spinner" :icon="faSync" size="6x"></font-awesome-icon>
    <div v-if="overlay !== 'false'" class="overlay"></div>
  </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import faSync from '@fortawesome/fontawesome-free-solid/faSyncAlt'

export default {
  name: 'loading-overlay',
  props: ['overlay'],
  components: {
    FontAwesomeIcon
  },
  computed: {
    faSync () {
      return faSync
    }
  }
}
</script>

<style lang="scss" scoped>
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0.6;
  border-radius: 4px;
  z-index: 98;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.spinner {
  position: absolute;
  color: white;
  z-index: 99;
  left: 50%;
  top: 50%;
  animation: spin 2s 0s infinite linear;
}
</style>
