<template>
  <div>
    <div v-if="isOpen">
      <div class="scrim"></div>
      <div class="modal" @click="close">
        <ynar-dialog :title="title">
          <slot></slot>
        </ynar-dialog>
      </div>
    </div>
  </div>
</template>

<script>
import YnarDialog from './Dialog'
export default {
  name: 'modal',
  props: {
    value: {
      default: true
    },
    title: {
      type: String
    }
  },
  components: { YnarDialog },
  methods: {
    close () {
      this.$emit('input', false)
    }
  },
  computed: {
    isOpen () {
      if (this.value) {
        document.body.setAttribute('style', 'overflow: hidden')
      } else {
        document.body.setAttribute('style', 'overflow: auto')
      }
      return this.value
    }
  }
}
</script>

<style lang="scss" scoped>
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scrim {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;

  background-color: black;
  opacity: 0.8;
}
</style>
