<template>
  <div :class="{'quantity-selector': true, center: align === 'center'} ">
    <button type="button" @click.stop="decrement">
      <font-awesome-icon :class="{disabled: !canDecrement}"
                         :icon="angleLeft"
                         size="3x">
      </font-awesome-icon>
    </button>
    <span>{{ value }}</span>
    <button type="button" @click.stop="increment">
      <font-awesome-icon :icon="angleRight"
                         size="3x">
      </font-awesome-icon>
    </button>
  </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import angleRight from '@fortawesome/fontawesome-free-solid/faAngleRight'
import angleLeft from '@fortawesome/fontawesome-free-solid/faAngleLeft'

export default {
  name: 'quantity-selector',
  props: ['value', 'align'],
  components: { FontAwesomeIcon },
  computed: {
    angleRight () {
      return angleRight
    },
    angleLeft () {
      return angleLeft
    },
    canDecrement () {
      return this.value !== 1
    }
  },
  methods: {
    decrement () {
      if (this.canDecrement) {
        this.$emit('input', this.value - 1)
      }
    },
    increment () {
      this.$emit('input', this.value + 1)
    }
  }
}
</script>

<style lang="scss" scoped>
.quantity-selector {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.center {
    justify-content: center;
  }

  span {
    display: inline-block;
    font-size: 2rem;
    margin: 0 1rem;
  }
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.disabled {
  color: #babac2;
}
</style>
