<template>
  <div class="requested-display" :class="{'more-pad': morePad}">
    <span class="label" v-if="qtyLeft > 0">Wants:</span>
    <div class="progress" :style="{ width: `${progress}%`}">
      <span class="label" v-if="qtyLeft > 0">Wants:</span>
    </div>
    <span class="qty" :class="align">{{ qtyLeftText }}</span>
  </div>
</template>

<script>
export default {
  name: 'requested-display',
  props: ['purchased', 'total', 'align', 'more-pad'],
  computed: {
    actualPurchased () {
      return this.purchased || 0
    },
    qtyLeft () {
      return this.total - this.actualPurchased
    },
    qtyLeftText () {
      let count = this.qtyLeft
      let leftText = ''
      if (count === 1) {
        leftText = `Only 1${this.actualPurchased !== 0 ? ' more' : ''}`
      } else if (count !== 0) {
        leftText = `${count}${this.actualPurchased !== 0 ? ' more' : ''}`
      } else {
        leftText = 'Purchased'
      }
      return leftText
    },
    progress () {
      return (this.actualPurchased / this.total) * 100
    }
  }
}
</script>

<style lang="scss" scoped>
.requested-display {
  position: relative;
  background-color: #282828;
  color: white;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.progress {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #41d196;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;

  .label {
    color: #2f693a;
  }
}

.label {
  position: absolute;
  left: 4px;
  color: #8e8e8e;
}

.qty {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
  box-sizing: border-box;

  &.right {
    text-align: right;
  }
}

.more-pad {
  .qty {
    padding: 4px 20px;
  }
  .label {
    left: 10px;
  }
}
</style>
